<nav class="navbar navbar-inverse" xmlns:http="http://www.w3.org/1999/xhtml" xmlns:http="http://www.w3.org/1999/xhtml">
  <div class="container-fluid">
    <a class="navbar-brand">RMIT Timetable Converter</a>
  </div>
</nav>

<div class="container-fluid" id="main">

  <div class="row">
    <h1 class="center-block" style="text-align:center;">
      RMIT Timetable Converter
      <small class="center-block" style="text-align:center; padding:20px;">
        Paste HTML from RMIT Timetable Weekly View, or use the javascript link below
      </small>
    </h1>
    <div style="padding:20px; " class="col-md-10">
    <a  href="javascript:window.open('http://radiant-lowlands-80644.herokuapp.com/#/'+btoa(document.querySelector('#contentpadding > table').outerHTML))"><button class="btn btn-primary">Convert Weekly Timetable</button></a>
      <br/>
      <br/>
      Bookmark this link (not by going to it, eg drag to bookmarks toolbar) and click on it when viewing the RMIT weekly timetable.
      <br/>
      <br/>
      Alternatively, copy the address of this link (which is javascript) and paste it in your address bar when viewing it.
    </div>
  </div>
  <div class="row">
    <h2>HTML</h2>
  </div>
  <div class="row">
    <textarea class="center-block col-md-12" ng-model="vm.tableHtml" style="width:100%;" rows="10"></textarea>
  </div>
  <div class="row" style="margin-top:20px;">
    <div class=" col-md-12" style="">
      <div class="col-md-12 ">
        <div class="form-group center-block">

          <label>Number of weeks to repeat</label>
          <input  class="form-control" type="number" min="1" value="10" ng-model="vm.numberOfWeeks" >

          <h4 style="padding:20px;" ng-show="vm.subjectMappingKeys() != 0">Customise Course Code - Calendar Subject Mappings (Eg Replace with Course Title) <small><a href="https://sts.rmit.edu.au/STS-ReadOnly/ro_index.jsp">Readonly RMIT Timetables</a> </small></h4>

          <div ng-repeat="s in vm.subjectMappingKeys()">

            <div class="form-group">
              <label>{{s}}  <input type="text" class="form-control" ng-model="vm.subjectMappings[s]" ng-change="vm.changedSubjectMapping()"></label>
              <label><input type="checkbox" ng-model="vm.hiddenCourses[s]" ng-change="vm.changedHiddenCourse()"> Disabled</label>
            </div>

          </div>
        </div>
        <div class="form-group">
          <button ng-click="vm.processAndDownload()" ng-disabled="vm.data.length == 0" class="btn btn-primary">Download CSV</button>
          <br/>
          <br/>
          <p>
            This format is supported by most online calendar services eg Google - <a href="https://support.google.com/calendar/answer/37118?hl=en">Import events to a Google Calendar</a>
          </p>
        </div>

      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12" ng-hide="vm.data.length == 0">
      <h3>Preview</h3>
      <table ng-table="vm.tableConfig" class="table table-bordered table-striped">
        <tr ng-repeat="row in vm.data">
          <td title="'Subject'">{{row.Subject}}</td>
          <td title="'Start Date'">{{row['Start Date']}}</td>
          <td title="'Start Time'">{{row['Start Time']}}</td>
          <td title="'End Date'">{{row['End Date']}}</td>
          <td title="'End Time'">{{row['End Time']}}</td>
          <td title="'Description'">{{row['Description']}}</td>
          <td title="'Location'">{{row.Location}}</td>
        </tr>
      </table>
    </div>
  </div>




</div>
